<div class="row justify-content-center my-5">
  <div class="col-6">
    <h2 class="text-center">Make a Reservation</h2>
    <%= form_with model: reservation, scope: :reservation, url: reservations_path, method: :post, data: { turbo_stream: true } do |f| %>

      <% flash.each do |type, msg| %>
        <div class="alert <%= type == 'alert' ? 'alert-danger' : 'alert-success' %>" role="alert">
          <%= msg %>
        </div>
      <% end %>

      <div class="form-group mb-3">
        <%= f.label :name, class: 'form-label' %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group mb-3">
        <%= f.label :reserve_time, "Reservation Time", class: 'form-label' %>
        <%= f.datetime_select :reserve_time, ampm: true, include_seconds: false, minute_step: 60, default: Time.current.change(sec: 0), class: "form-control" %>
      </div>

      <div class="form-group mb-3">
        <%= f.label :seating_capacity, "Requested Seating Capacity" %>
        <%= f.number_field :seating_capacity, class: "form-select" %>
      </div>
      <%= f.submit "Reserve", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
